@model List<Medico>

<br />

@if (@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    //<h3>@ViewBag.Mensagem @Model.Nome</h3>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Status</th>

        </tr>
        
        @foreach (var medic in Model)
        {
            <tr>
                <td>@medic.Id</td>
                <td>@medic.Nome</td>
                <td>@medic.Endereco</td>
                <td>@medic.Telefone</td>
                <td>@medic.Status</td>

                <td>
                    <a class="btn btn-sm btn-danger" href="/medico/delete/@medic.Id">Apagar</a>
                    <a class="btn btn-sm btn-warning" href="/medico/update/@medic.Id">Editar</a>
                </td>
            </tr>
        }
    </table>
}
<a class="btn btn-info cart-btn-transform mt-2 float-right m-2" href="/medico/create/">Adicionar</a>
<a class="btn btn-primary" href="/home/editar">Voltar</a>