@model List<Paciente>

<br />

@if (@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <h5>Selecione o Paciente: </h5>
    // <h3>@ViewBag.Mensagem @Model.Nome</h3>
    <table class="table table-hover">


        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Convenio</th>
            <th>Status</th>

        </tr>


        @foreach (var pacie in Model)

        {
            <tr>
                <td>@pacie.Id</td>
                <td>@pacie.Nome</td>
                <td>@pacie.Endereco</td>
                <td>@pacie.Telefone</td>
                <td>@pacie.Convenio</td>
                <td>@pacie.Status</td>
                <td>
                    
                    <a class="btn btn-sm btn-info" href="/medico/consulta/@pacie.Id ">Selecionar</a>
                    

                </td>
            </tr>

        }
    </table>
}
<a class="btn btn-primary" href="/home/escolherconsulta">Voltar</a>
