@model List<Consulta>

@if (Model.Count == 0)
{
<div class="container-fluid mt-100 ">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Procedimentos</h5>
                </div>
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center">
                        <h3><strong>Nenhuma Consulta aberta.</strong></h3>
                        <button class="btn btn-primary">
                            Escolher Procedimentos
                        </button>
                        <a href="/home" class="btn btn-sm btn-danger m-3" data-abc="true">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> }
            else
            {


<br />

                @if (@Model == null)
                {
<h3>@ViewBag.Mensagem</h3> }
                else
                {

                    <h5>Lista de Consultas</h5>
<table class="table table-hover rounded-top rounded-bottom shadow" style="background-color:transparent">
    <tr>
        <th>Nr</th>
        <th>Paciente</th>
        <th>Médico(a)</th>
        <th>Data</th>
        <th>Situação</th>
    </tr>

    @foreach (var consulta in Model)
    {
<tr>
    <td>@consulta.Nr</td>
    <td>@consulta.Paciente.Nome</td>
    <td>@consulta.Medico.Nome</td>
    <td>@consulta.Data</td>
    <td>@consulta.Status</td>

    
</tr>}
</table>}
                                <a href="/home/inicial" class="btn btn-primary" data-abc="true">Voltar</a> }