@model List<Atendente>

<br />

@if (@Model == null)
{
<h3>@ViewBag.Mensagem</h3> }
            else
            {
                // <h3>@ViewBag.Mensagem @Model.Nome</h3>
<table class="table table-hover">
    @foreach (var atend in Model)

    {
    <tr>
        <td>@atend.Id</td>
        <td>@atend.Nome</td>
        <td>@atend.Endereco</td>
        <td>@atend.Telefone</td>
        <td>@atend.Login</td>
        <td>@atend.Senha</td>
        <td>
            <a class="btn btn-sm btn-danger" href="/atendente/delete/@atend.Id">Apagar</a>
            <a class="btn btn-sm btn-warning" href="/atendente/update/@atend.Id">Editar</a>
        </td>
    </tr>}
</table>}
<a class="btn btn-primary" href="atendente/create">Adicionar</a>